body {
    background-color: lightgray
}

H3, H5 {
color: #4AAAA5;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

p6 {
    font-size: small 
}
nav.navbar {
    background-color: white;
  }

@media (max-width: 768px) {
    nav.navbar {
      background-color: #4AAAA5;
    }
  }